section {
    background-color: #8f3a9542;
    font-size: 24px;
    text-align: center;
    padding: 33px 0px 33px 250px;
    margin: 40px 25px 40px 25px;
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
    border-color: #afe9bbc4;
    border-radius: 15px;
}
img {
    max-width: 455px;
    border-radius: 13px;
}
.image{
    margin: -34px 0% -198px -250px;
}
.text-wrapper{
    margin-left: 200px;
    margin-top: -23px;
    font-weight: bolder;
}
button {
    font-size: 21px;
    color: blueviolet;
    background-color: #afe9bb;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: #8f3a9542;
}
.showMore {
    padding-top: 25px;
}
button a {
    text-decoration: none;
    padding: 10px;
    color: blueviolet;
}
footer {
    margin-top: 77px;
}