@charset "UTF-8";

#slideShow {
    width: 97%;
    height: 150vh;
    background-position: center center;
    background-size: cover;
    background-repeat: space;
    backface-visibility: hidden;
    animation: slideShow 50s ease-out 0s;
    animation-timing-function: ease-out;
    background-image: url("/images/Fitness2.jpg");
}

@keyframes slideShow {
    0% {
        background-image: url("/images/tennis1.jpg");
    }
    25% {
        background-image: url("/images/Fitness.jpg");
    }
    50% {
        background-image: url("/images/Trainingforspeedandagility.jpg");
    }  75% {
           background-image: url("/images/Powermovesandexplosion.jpg");
       }


}

.tr-text {
    font-size: 30px;
    /*margin: 6px 100px 14px 22px;*/
    margin-top: 20px;
    margin-right: 110px;
    margin-bottom: 14px;
    margin-left: 25px;
    background-color: #99a2dd73;
    border-radius: 7px;
    padding: 15px 20px 15px 10px;
    box-shadow: 2px -1px 11px 8px;
    color: #040b1c;
    text-shadow: 0px 0px black;
    font-weight: bold;
}
.sport {
    width: 50px;
    /*margin: -100px 0px 53px 86%;*/
    margin-bottom: 86px;
    margin-left: 86% ;
    margin-top: -111px;
    border-radius: 10px;
    position: relative;
}
.sport:hover{
    width: 55px;
}
.add {
    width: 55px;
    margin-top: -80px;
    margin-bottom: 58px;
    margin-left: 81%;
    border-radius: 10px;
    position: relative;
}
.add:hover{
    cursor: pointer;
    width: 60px;
}
.delete{
    width: 55px;
    margin-top: -80px;
    margin-bottom: 58px;
    margin-left: 75%;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
}
.delete:hover{
    width: 60px;
}
.remove {
    width: 85px;
    margin-top: -80px;
    margin-bottom: 58px;
    margin-left: 78%;
    border-radius: 10px;

}
.remove:hover {
    cursor: pointer;
    width: 90px;
}
.text-wrapper {
    margin-top: 20px;
    margin-bottom: -40px;
}
#main{
    margin-bottom: 20px;
}
footer{
    position: fixed;
}

.vectors-all {
    margin-top: 15px;
    margin-right: -13px;
}
.vectors-my {
    margin-top: 34px;
}
main > h1 {
    color: #8220dd;
    font-size: 55px;
    text-shadow: 3px 0px #45a29e;
    text-align: center;
    background-color: #00000085;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}
.training-details-text {
    text-decoration: none;
    cursor: pointer;
}
.tr-text:hover{
    color: rgba(138, 43, 226, 0.6);
}
