
.wrapper {
    height: 400px;
    width: 1000px;
    margin: 30px auto;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 0px 1.5px 3px gray;
    margin-bottom: 100px;
    background-color: #343b44e8;

}

.trainingCover {
    float: left;
    height: 105%;
    width: 60%;
    width: auto;
    margin-right: 5px;
}

.trainingCover img {
    border-radius: 12px 0 0 7px;
    height: 70%;
    width: 90%;
    font-size: 20px;
}

.trainingText {
    padding-left: 10px;
    padding-top: 1px;
}

.trainingText h1 {
    color:#8220de;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}
#title {
    font-size: 55px;
    text-align: center;
    color:#8220de;
    text-shadow: 3px 3px 3px #45a29e;
}

.trainingText h3 {
    margin: 8px 0 47px 18px;
    font-size: 20px;
    color: #8220de;
    letter-spacing: 0.02em;
    margin-bottom: 10px;

}

.trainingText h4 {
    margin: 8px 0 10px 18px;
    font-size: 16px;
    color: #8220de;
    letter-spacing: 0.2em;
}

.trainingText h5 {
    margin: 8px 0 10px 14px;
    font-size: 16px;
    color: white;
}

.trainingText > p {
    height: auto;
    width: 100%;
    color: #8220de;
    line-height: 1.6em;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.actionBtn  {
    display: flex;
    text-align: center;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    margin-top: 50px;
}

.actionBtn > a {
    /*width: 200%;*/
    /*height: 50px;*/
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #45a29e 0%, #0d324d 74%);
    background-size: 200% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transition: 500ms;
    color: white;
    font-family: "Lato";
    font-size: 27px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: none;
    margin-right: 15px;
    border-color: #9a14ed33;
    margin-left: 40px;
    padding: 7px 17px 7px 17px;
}

.actionBtn > a:hover {
    background-position: right;
}
#box-title {
    background-color: #040404cf;
    border-radius: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 35px;
}
footer{
    position: fixed;
}