<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coaches</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
</head>
<body style="background-image: url('/images/coaches-background.jpg')">
<div id="wrapper">
    <header th:replace="/fragments/navbar"></header>
    <main id="main">
        <section>

        </section>

    </main>
    <footer th:replace="/fragments/footer"></footer>
</div>
</body>
</html>