<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Halls</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/css/halls.css"/>
</head>
<body style="background-image: url('/images/halls-background.jpg')">
<div id="wrapper">
    <header th:replace="/fragments/navbar"></header>
    <main id="main">
        <section th:each="h : ${halls}" th:object="${h}">
            <div class="image">
                <img th:src="'/images/' + *{name} +  '.jpg'"
                onerror="this.src = '/images/halls-background.jpg'">
            </div>
            <div class="text-wrapper">
                <div sec:authorize='hasRole("ADMIN")'>
                    <button >
                        <a th:href="@{halls/delete/{id}(id=*{id})}"
                        class="deleteBtn">
                            Delete
                        </a>
                    </button>
                </div>

                <h2 th:text="*{name}">

                </h2>
                <p th:text="|The Hall has *{capacity} capacity!|">
                    Some text
                </p>
                <p th:text="|Address: *{address}|">
                    Some text
                </p>
                <p th:text="|Available on *{availableOn}|">
                    Some text
                </p>
                <div class="showMore" style="display: none" th:text="
                |Some info:
                *{description}|">

                </div>
                <button>
                    Show more
                </button>

            </div>
        </section>
    </main>
    <footer th:replace="/fragments/footer"></footer>
    <script type="text/javascript" src="/js/halls.js"></script>
    <script type="text/javascript" src="/js/onDelete.js"></script>
</div>
</body>
</html>