<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Training</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
</head>
<body style="background-image: url('/images/add-training.jpg')">
<header th:replace="/fragments/navbar"></header>

<section id="registerPage">
    <form class="mx-auto w-25 bg-blur rounded"
          th:action="@{/trainings/add}" th:method="post"
          th:object="${addTrainingDto}">
        <fieldset>
            <legend>Add training</legend>

            <div class="form-group">
                <label for="username" class="vhide">Name of the training</label>
                <input th:field="*{name}"
                       th:errorclass="is-invalid"
                       id="username" class="form-control username" name="name" type="text" placeholder="Name">
                <small class="invalid-feedback text-danger">
                    Name should be between 2 and 30 symbols!
                </small>
            </div>

            <label for="fullName" class="vhide">Full name</label>
            <input th:field="*{duration}"
                   th:errorclass="'is-invalid'"
                   id="fullName" class="form-control fullName" name="duration" type="text" placeholder="Duration">

            <small class="invalid-feedback text-danger">
                Must be positive number!
            </small>

            <label for="intensity" class="vhide">Intensity</label>
<!--            <input th:field="*{intensity}"-->
<!--                   th:errorclass="'is-invalid'"-->
<!--                   id="intensity" class="form-control" name="intensity" type="text" placeholder="Intensity">-->

            <select th:field="*{intensity}"
                    th:errorclass="is-invalid"
                    class="browser-default custom-select" id="intensity" name="intensity">
                <option value="select">
                    Select intensity level
                </option>
                <option th:each="i : ${T(com.example.sportclopedia.model.enums.IntensityLevelEnum).values()}"
                        th:value="${i}" th:text="${i}">
                </option>
            </select>


            <label for="startedOn">Start on</label>
            <input th:field="*{startedOn}"
                   th:errorclass="'is-invalid'"
                   id="startedOn"
                   class="date" name="startedOn" type="datetime-local" placeholder="Started on">
            <small class="invalid-feedback text-danger">
                Date should be present or future!
            </small>

            <label for="coach" class="vhide">Coach</label>
            <select th:field="*{coach}"
                    th:errorclass="is-invalid"
                    class="browser-default custom-select" id="coach" name="coach">
                <option value="select">
                    Select coach
                </option>
                <option th:each="c : ${coaches}"
                        th:value="${c}" th:text="${c}">
                </option>
            </select>

            <small class="invalid-feedback text-danger">
                Coach error
            </small>

<!--            <label for="coach" class="vhide">Coach</label>-->
<!--            <input th:field="*{coach}"-->
<!--                   th:errorclass="'is-invalid'"-->
<!--                    id="coach" class="form-control" name="coach" type="text"  placeholder="Coach">-->

            <label for="sport" class="vhide">Sport</label>
            <input th:field="*{sport}"
                   th:errorclass="'is-invalid'"
                    id="sport" class="form-control field" name="sport" type="text" placeholder="Sport">
            <small class="invalid-feedback text-danger">
                Sport error
            </small>

            <label for="hall" class="vhide">Hall</label>
            <input th:field="*{hall}"
                   th:errorclass="'is-invalid'"
                    id="hall" class="form-control" name="hall" type="text" placeholder="Hall">
            <small class="invalid-feedback text-danger">
                Hall error
            </small>

            <button type="submit" class="register">Add Training</button>

        </fieldset>
    </form>
</section>

<footer th:replace="/fragments/footer"></footer>
</body>
</html>