<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User trainings</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/css/trainings.css"/>
</head>
<body id="slideShow">
<div id="wrapper">
    <header th:replace="/fragments/navbar"></header>
    <main id="main">
        <h1>
            My Trainings!
        </h1>
        <div class="text-wrapper" th:each="t : ${userTrainings}" th:object="${t}">
            <a class="training-details-text" th:href="@{/trainings/details/{id}(id=*{id})}">
                <div class="tr-text"
                     th:text="|* *{name} - *{startedOn} - *{hallName}|">
                </div>
            </a>
            <div class="vectors-my">
                <a class="deleteBtn">
                    <img th:href="@{/trainings/user/delete/{id}(id=*{id})}"
                         class="remove" src="/images/remove-button.png" alt="***no image">
                </a>
                <a th:href="@{/trainings/details/{id}(id = *{sportId})}">
                    <img class="sport" th:src="'/images/' + *{sportName}  + '-vector.jpg'" alt="***no image">
                </a>
            </div>
        </div>


    </main>
    <footer th:replace="/fragments/footer"></footer>
    <script type="text/javascript" src="/js/halls.js"></script>
    <script type="text/javascript" src="/js/onDelete.js"></script>
</div>
</body>
</html>