<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Training</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
</head>
<body style="background-image: url('/images/add-training1.jpg')">
<header th:replace="/fragments/navbar"></header>

<section id="registerPage">
    <form class="mx-auto w-25 bg-blur rounded"
          th:action="@{/trainings/add}" th:method="post"
          th:object="${addTrainingDto}">
        <fieldset>
            <legend>Add training</legend>

            <small class="text-danger" th:if="${isAdded}">
                This training is already added!
            </small>
            <div class="form-group">
                <label for="username" class="vhide">Name of the training</label>
                <input th:field="*{name}"
                       th:errorclass="is-invalid"
                       id="username" class="form-control username" name="name" type="text" placeholder="Name">
                <small class="invalid-feedback text-danger">
                    Name should be between 2 and 30 symbols!
                </small>
            </div>

            <label for="duration" class="vhide">Duration</label>
            <input th:field="*{duration}"
                   th:errorclass="is-invalid"
                   id="duration" class="form-control duration" name="duration" type="text" placeholder="Duration">
            <small class="invalid-feedback text-danger">
                Must be positive number!
            </small>

            <label for="intensity" class="vhide">Select intensity level</label>
            <select th:field="*{intensity}"
                    th:errorclass="is-invalid"
                    class="form-control custom-select" id="intensity" name="intensity">
                <option value="select">
                    Select intensity level
                </option>
                <option th:each="i : ${T(com.example.sportclopedia.model.enums.IntensityLevelEnum).values()}"
                        th:value="${i}" th:text="${i}">
                </option>
            </select>
            <small th:if="${isIntensityNull}" class="text-danger">
               You must select intensity level!
            </small>

            <label for="startedOn">Select start on</label>
            <input th:field="*{startedOn}"
                   th:errorclass="is-invalid"
                   id="startedOn"
                   class="form-control date" name="startedOn" type="datetime-local" placeholder="Started on">
            <small class="invalid-feedback text-danger">
                Date should be present or future!
            </small>

            <label for="coach" class="vhide">Select Coach</label>
            <select th:field="*{coach}"
                    th:errorclass="is-invalid"
                    class="form-control custom-select" id="coach" name="coach">
                <option value="select">
                    Select coach
                </option>
                <option th:each="c : ${coaches}"
                        th:value="${c}" th:text="${c}">
                </option>
            </select>
            <small th:if="${isCoachNull}" class="text-danger">
                You must select coach!
            </small>

            <label for="sport" class="vhide">Select sport</label>
            <select th:field="*{sport}"
                    th:errorclass="is-invalid"
                    class="browser-default custom-select form-control" id="sport" name="sport">
                <option value="select">
                    Select sport
                </option>
                <option th:each="s : ${sports}"
                        th:value="${s}" th:text="${s}">
                </option>
            </select>
            <small th:if="${isSportNull}" class="text-danger">
                You must select sport!
            </small>

            <label for="hall" class="vhide">Select hall</label>
            <select th:field="*{hall}"
                    th:errorclass="is-invalid"
                    class="browser-default custom-select form-control" id="hall" name="hall">
                <option value="select">
                    Select hall
                </option>
                <option th:each="h : ${halls}"
                        th:value="${h}" th:text="${h}">
                </option>
            </select>
            <small th:if="${isHallNull}" class="text-danger">
                You must select hall!
            </small>

            <label for="description" class="vhide">Description</label>
            <textarea th:field="*{description}"
                      th:errorclass="is-invalid"
                      class="form-control description" id="description"  name="description" type="text" placeholder="Description">
            </textarea>
            <small class="invalid-feedback text-danger">
                Description should be more than 20 symbols!
            </small>

            <button type="submit" class="register">Add Training</button>

        </fieldset>
    </form>
</section>

<footer th:replace="/fragments/footer"></footer>
</body>
</html>