<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Trainings</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/css/trainings.css"/>
</head>
<body id="slideShow">
<div id="wrapper">
    <header th:replace="/fragments/navbar"></header>
    <main id="main">
        <h1>
            All Trainings!
        </h1>
        <div class="text-wrapper" th:each="t : ${trainings}" th:object="${t}">
            <div class="tr text"
                 th:text="|* *{name} - *{duration} minutes - coach *{coachFullName}|">
            </div>
            <div class="vectors-all">
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/trainings/delete/{id}(id = *{id})}">
                    <img class="delete" src="/images/delete-button1.png" alt="***no image">
                </a>
                    <a class="add-training" th:title="${isAlreadyTaken}"
                       th:href="@{/trainings/reserve/{id}(id = *{id})}">
                        <img
                                class="add" src="/images/add-button.png" alt="***no image">
                    </a>
                <a th:href="@{/trainings/details/{id}(id = *{sportId})}">
                    <img class="sport" th:src="'/images/' + *{sportName}  + '-vector.jpg'" alt="***no image">
                </a>
            </div>

        </div>

    </main>
    <footer th:replace="/fragments/footer"></footer>

    <script type="text/javascript" src="/js/confirmation.js"></script>
    <script type="text/javascript" src="/js/onDelete.js"></script>
</div>
</body>
</html>